@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .font-display {
  font-family: 'Syne', sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}